<div>
    <div class="row">
      <div class="small-6 columns">
        <img src="http://jovanie.me/uiucpbltemp/uiuc.jpg"/>
      </div>
      <div class="small-6 columns">
        <form>
          <div class="row">
              <h1>Login to eDARS</h1>
          </div>
          <div class="row">
            <label> Email
              <input type="email" ng-model="email">
            </label>
          </div>
          <div class="row">
            <label>Password
              <input type="password" ng-model="password">
            </label>
          </div>
          <div class="row">
            <button ng-click="submit()" type="button" class="success button">Login</button>
          </div>
        </form>
      </div>
    </div>  
</div>
