<div>
    <div class="row">
      <div class="small-6 columns">
        <img src="http://jovanie.me/uiucpbltemp/uiuc.jpg"/>
      </div>
      <div class="small-6 columns">
          <div class="row">
            <form>
              <div class="row">
                  <h1>Sign Up for eDARS</h1>
              </div>
              <div class="row">
                <label>NetID
                  <input type="text" ng-model="netid">
                </label>
              </div>
              <div class="row">
                <label>Name
                  <input type="text" ng-model="name">
                </label>
              </div>
              <div class="row">
                <label>Graduation Date
                  <input type="text" ng-model="graduationDate">
                </label>
              </div>
              <div class="row">
                <label>Password
                  <input type="password" ng-model="password">
                </label>
              </div>
              <div class="row">
                <button ng-click="submit()" type="button" class="success button">Sign up</button>
              </div>

            </form>   
          </div>
      </div>
    </div>  
</div>
